/*Universal box-sizing for all elements*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  font-family: "Cinzel Decorative", cursive;
}

/* TEMP Navbar Styles */
.navbar {
  display: flex;
  justify-content: center;
  align-items: stretch;
  list-style: none;
  /* padding: 10px 0; */
  background-color: #f1f1f1;
}

#flag {
  width: 6vw;
  max-width: 280px;
}

.nav-item {
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  flex-grow: 1;
  align-self: center;
  background-color: #e7e7ff;
  margin: 0 1px;
  padding: 10px 0;
}

.nav-item.active {
  color: blue;
}

/* Main Section Styles */
main {
  padding: 20px;
}

section {
  display: flex;
  flex-direction: column;
  margin-bottom: 140px;
  padding: 10px;
}

aside {
  display: flex;
  flex-direction: column;
  width: 30%;
}

aside h1 {
  text-align: center;
}

.icon-list {
  display: flex;
  flex-direction: column; /* Column layout on big screens */
  justify-content: center; /* Center the icons horizontally */
  align-items: center; /* Center the icons vertically */
  margin-bottom: 10px;
}

.icon {
  width: 100%; /* Full width for icons */
  max-width: 100px; /* Maximum width for icons */
  height: auto; /* Maintain aspect ratio */
  margin-bottom: 10px; /* Space between icons */
}

.section-content {
  background-color: #87cefa;
  border-radius: 10px;
  padding: 10px;
  margin-top: 50px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.section-content h2 {
  padding: 20px 0px 20px 0px;
}

.section-content ul {
  list-style-position: inside;
}

.section-1 {
  text-align: center;
  padding: 50px;
  display: flex;
  flex-direction: column;
}

.section-1 .content {
  margin-bottom: 30px;
}

.section-1 h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.section-1 p {
  font-size: 18px;
  line-height: 1.5;
}

.section-1 .image-gallery {
  display: flex;
  justify-content: center;
}

.section-1 .image-gallery img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin: 0 10px;
}

footer {
  background-color: #87cefa;
  border-radius: 10px 10px 0px 0px;
  padding: 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  border: 1px solid black;
}

.footer-content {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

.social-links {
  text-align: center;
  margin: 10px;
}

.vertical-line {
  width: 2px;
  height: 60px; /* Adjust the height of the line */
  background-color: #ccc;
}

/* Responsive Styles */
@media (min-width: 768px) {
  /* Large screens - flex container as row */
  section {
    display: flex;
    flex-direction: row;
  }

  aside {
    margin-right: 100px;
  }

  .icon-list {
    flex-direction: column; /* Row layout on big screens */
    margin-top: 30px;
  }

  .section-content p {
    width: 60%;
  }
}

@media (max-width: 767px) {
  /* Small screens - flex container as column */
  .navbar {
    flex-wrap: wrap;
  }

  aside {
    margin-bottom: 10px;
    width: 100%;
  }

  .icon-list {
    flex-direction: row; /* Row layout on small screens */
    justify-content: center; /* Center the icons horizontally */
    align-items: center; /* Center the icons vertically */
    overflow-x: scroll; /* Add horizontal scroll for small screens */
  }

  .icon {
    margin-right: 10px; /* Space between icons */
    max-width: 50px;
    margin-top: 20px;
  }

  .section-content {
    margin-top: 10px;
  }

  .section-content p {
    width: 100%;
  }

  .section-1 {
    padding: 30px;
  }

  .section-1 h1 {
    font-size: 28px;
  }

  .section-1 p {
    font-size: 16px;
  }

  .section-1 .image-gallery {
    flex-wrap: wrap;
  }

  .section-1 .image-gallery img {
    width: 150px;
    height: 150px;
    margin: 10px;
  }

  footer {
    font-size: 14px;
    height: 15%;
  }
}

/* fixed the content formating and order, I have no clue as to why everything from finances onwards is underlined, also couldnt fix the shrinking flag, renamed the content folders to match their sections, the footer is still to tall and the vertical bar still breacks when the width is low, I suggest removing it, but you decide, also I think is a good idea to reduce the footer fontsize in mobile widths*/
